body{
  font-family: 'Orbitron',"MS PGothic",'Mplus 1p','ＭＳ Ｐゴシック';
  width: 100vw;
  height: 100vh;
  background-image: url('https://i.imgur.com/lRoq1TD.gif');
  background-position: 0% 0%, center;
  background-repeat: no-repeat;
  background-size:  cover;
  background-attachment: scroll;
  background-color: #FFFFFF;
  overflow: hidden;
}
p {
  text-align: center;
}
#container{
  width: 560px;
  max-width: 90%;
  height: 560px;
  max-height: 90%;
  position: absolute;
  padding: 5rem;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(211,211,211,0.5);
  border-radius: 25px;
  box-shadow: 0 0 10px black;
  overflow: hidden;
}
.display{
  position: absolute;
  color: #313131;
  width: 350px;
  height: 54px;
  padding: 5px;
  font-size: 1em;
  font-weight: bold;
  background-color: #c0c0c0;
  margin-top: 250px;
  border: 1px solid darkgrey;
  display: block;
  margin: auto;
  border-radius: 15px;
  text-align: center;
  outline: 0;
  box-shadow: 0 0 10px black;
}
.start{
  font-family: 'Orbitron';
  top: 350px;
  left: 200px;
}
.score{
  font-family: 'Orbitron';
  font-size: 14px;
  bottom:3%;
  left:41%;
  line-height: 55px;
}
#title{
  font-size: 20px;
  line-height: 10px;
  top:3%;
  left:41%;
  font-family: 'Orbitron';
}
#final{
  top:40%;
  left: 25%;
}
.alien {
  display: block;
  width: 60px;
  height:85px;
  position:absolute;
  background-image: url('https://i.imgur.com/1Jb9ah4.png');
}
.spaceship1{
  display: block;
  position: absolute;
  top: 40%;
  left: 40%;
  height: 141px;
  width: 141px;
  margin:auto;
  /*border-radius: 50%;*/
  background-position: center center;
  background-repeat: no-repeat;
}
.spaceship{
  background-image: url('https://i.imgur.com/er6ER4s.png');
}
.spaceshipFire{
  background-image: url('https://i.imgur.com/rE36tFp.png');
}
.rocket{
  display: block;
  position: absolute;
  top:120px;
  left:60px;
  margin: 0;
  padding: 0;
}
.rotate{
	-ms-transform: rotateY(360deg); /* IE 9 */
  -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
  transform: rotateY(360deg);
  transition-duration: 3s;
}
.hidden{
  display:none;
}
