body{
  font-family: "MS PGothic",'Mplus 1p','ＭＳ Ｐゴシック';
  width: 100vw;
  height: 100vh;
  background-image: url('assets/background.gif');
  background-position: 0% 0%, center;
  background-repeat: no-repeat;
  background-size:  cover;
  background-attachment: scroll;
  background-color: #FFFFFF;
  overflow: hidden;
}
#container{
  width: 560px;
  max-width: 90%;
  height: 560px;
  max-height: 90%;
  position: absolute;
  padding: 5rem;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*background-color: rgba(54, 69, 79, 0.5);*/
  background-color: rgba(211,211,211,0.5);
  border-radius: 25px;
  box-shadow: 0 0 10px black;
}

.alien {
  width: 80px;
  height:113px;
  position:absolute;
  background-image: url('assets/characters/alien/alsmall.png');
}

.helmet{
  position: absolute;
  top: 40%;
  left: 40%;
  height: 168px;
  width: 168px;
  margin:auto;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}
.helmetGrin{
  background-image: url('assets/characters/helmetman/gsmall.png');
}
.helmetOm{
  background-image: url('assets/characters/helmetman/omsmall.png');
}

.rotate{
	-ms-transform: rotateY(360deg); /* IE 9 */
  -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
  transform: rotateY(360deg);
  transition-duration: 3s;
}
